.faq {
  margin: 0 auto;
  width: 1140px;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .faq {
    width: 95%;
  }
}
