.faqItem {
  border-radius: 5px;
  background: rgb(248, 251, 250);
  width: 100%;
  padding: 40px;
  color: rgb(54, 72, 68);
  position: relative;
  cursor: pointer;

  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }

  img {
    position: absolute;
    top: 42px;
    right: 42px;
  }
}

.content {
  display: none;
  transition: 0.4s;

  p {
    margin-top: 16px;
  }
}

.active {
  transition: 0.4s;
  display: block;
}
