.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}

.boxTop {
  margin: 0 auto;
  width: 1140px;
  max-width: 1140px;
  padding: 12px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.address {
  display: flex;
  align-items: center;

  p {
    width: 122px;
    color: #364844;

    span {
      color: #868686;
    }
  }

  img {
    margin: 0 4px 23px 0;
  }
}

.boxBottom {
  color: white;
  background-color: #1fa181;

  nav {
    margin: 0 auto;
    width: 1140px;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    gap: 36px;
    font-size: 16px;

    p {
      cursor: pointer;
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 35px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
